.board {
  display: grid;
  gap: 2px;
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1 / 1;
  border: 2px solid #e5e7eb;
  background-color: #020617;
  box-sizing: border-box;
}
.cellWrapper {
  border: 1px solid #1e293b;
}

.cellWrapper.borderRight {
  border-right: 3px solid #94a3b8;
}

.cellWrapper.borderBottom {
  border-bottom: 3px solid #94a3b8;
}